In [9]:
import numpy as np
import pandas as pd
dataset = pd.read_csv('beeradvocate/BeerAdvocate.inter',delimiter='\t')
dataset

,user_id:token,item_id:token,timestamp:float,appearance:float,aroma:float,palate:float,taste:float,overall:float
0,0,47986,1234817823,2.5,2.0,1.5,1.5,1.5
1,0,48213,1235915097,3.0,2.5,3.0,3.0,3.0
2,0,48215,1235916604,3.0,2.5,3.0,3.0,3.0
3,0,47969,1234725145,3.5,3.0,2.5,3.0,3.0
4,1,64883,1293735206,4.0,4.5,4.0,4.5,4.0
...,...,...,...,...,...,...,...,...
1586609,5882,33061,1162684892,3.5,4.0,4.0,4.0,5.0
1586610,691,33061,1161048566,2.5,5.0,2.0,4.0,4.0
1586611,7045,33061,1160702513,3.0,3.5,3.5,4.0,4.5
1586612,3968,33061,1160023044,4.5,4.5,4.5,4.5,4.0
1586613,2551,33061,1160005319,4.5,4.5,4.5,4.5,5.0

In [14]:
dataset['item_id:token'].unique()

array([47986, 48213, 48215, ..., 48360, 43233, 33061], dtype=int64)

In [15]:
zip(dataset['item_id:token'].unique(),range(dataset['item_id:token'].nunique()))

66055

In [12]:
dataset['item_id:token'].max()

77317

Empty DataFrame
Columns: [user_id:token, item_id:token, timestamp:float, appearance:float, aroma:float, palate:float, taste:float, overall:float]
Index: []

In [18]:
filter_dataset = dataset[['user_id:token','item_id:token','overall:float','timestamp:float']]

In [33]:
filter_dataset.to_csv('beeradvocate/filtered_rating.csv',sep='\t',header=None,index=None)